@model ModelShopOnline.Model.Product

@{
    ViewBag.Title = "حذف محصول";
}

<h2>@ViewBag.Title</h2>
<p>
    @Model.NameBoard
    <br />
    @*@Model.Category.Name*@
    <br />
    @Model.LastPrice
    <br />
</p>
    <a   href="@Url.Action("productList","Admin")" class=" btn btn-default col-xs-pull-10" >
       انصراف
    </a>
<form method="post">
    @Html.HiddenFor(x => x.Id)
    <button type="submit" class="btn btn-danger pull-left">
        حذف محصول
    </button>
</form>

